## Q1. Import the required libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## Q2.import csv file Diwali Sales Data.csv

In [ ]:
data = pd.read_csv(Diwali_Sales_Data.csv)

## Q3. Find the shape of the data

In [ ]:
print(data.shape)

## Q4. Fetch the first five rows of the dataset

In [ ]:
data.head()

## Q5. Get the complete info of the dataset

In [ ]:
data.info()

## Q6. Drop unrelated/blank columns 'Status' and 'unnamed1'

In [ ]:
data = data.drop(['Status', 'unnamed1'], axis=1)

## Q7. Check for null values and find which columns have null values

In [ ]:
print(data.isnull().sum().sum())

null_columns = data.columns[data.isnull().any()]
print(null_columns.tolist())

## Q8. Calculate the mean value of Age, Orders and Amount by using describe function

In [ ]:
mean_values = data[['Age', 'Orders', 'Amount']].describe().loc['mean']
print(mean_values)

## Q9. Plot a bar chart for Gender and it's count

In [ ]:
data['Gender'].value_counts().plot(kind='bar', color=['skyblue', 'lightgreen'])

plt.title('Count of Each Gender')
plt.xlabel('Gender')
plt.ylabel('Count')

plt.show()

## Q10. Plot a bar chart for gender vs total amount

## Q11. Plot the countplot for Age Group with hue and Gender

## Q12. Draw the plot for total number of orders from top 10 states

## Q13.Draw the plot to plot total amount/sales from top 10 states

## Q14. Draw the plot to show the marital status

## Q15. Draw the plot to show the top 10 occupations

## Q16. Draw the countplot to print the top 10 categories

## Q17. What is the prodct ID of the top 10 most sold products.

## Q18. What conclusion you can draw from the above visualizations.