## Q1. Import the required libraries

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Q2.import csv file Diwali Sales Data.csv

In [ ]:

import pandas as pd
df = pd.read_csv('Diwali Sales Data.csv', encoding='unicode_escape')

## Q3. Find the shape of the data

In [ ]:
df.shape

(11251, 15)

## Q4. Fetch the first five rows of the dataset

In [ ]:
df.head()

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,NaN,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,NaN,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,NaN,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,NaN,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,NaN,NaN

## Q5. Get the complete info of the dataset

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11251 entries, 0 to 11250
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User_ID           11251 non-null  int64
 1   Cust_name         11251 non-null  object
 2   Product_ID        11251 non-null  object
 3   Gender            11251 non-null  object
 4   Age Group         11251 non-null  object
 5   Age               11251 non-null  int64
 6   Marital_Status    11251 non-null  int64
 7   State             11251 non-null  object
 8   Zone              11251 non-null  object
 9   Occupation        11251 non-null  object
 10  Product_Category  11251 non-null  object
 11  Orders            11251 non-null  int64
 12  Amount            11239 non-null  float64
 13  Status            0 non-null      float64
 14  unnamed1          0 non-null      float64
dtypes: float64(3), int64(4), object(8)
memory usage: 1.3+ MB

## Q6. Drop unrelated/blank columns 'Status' and 'unnamed1'

In [ ]:
df.drop(['Status', 'unnamed1'], axis=1, inplace=True)

## Q7. Check for null values and find which columns have null values

In [ ]:
df.isnull().sum()

User_ID              0
Cust_name            0
Product_ID           0
Gender               0
Age Group            0
Age                  0
Marital_Status       0
State                0
Zone                 0
Occupation           0
Product_Category     0
Orders               0
Amount              12
dtype: int64

## Q8. Calculate the mean value of Age, Orders and Amount by using describe function

In [ ]:
df[['Age', 'Orders', 'Amount']].describe()

                Age        Orders        Amount
count  11251.000000  11251.000000  11239.000000
mean      35.421207      2.489290   9453.610858
std       12.754122      1.115047   5222.355869
min       12.000000      1.000000    188.000000
25%       27.000000      1.500000   5443.000000
50%       33.000000      2.000000   8109.000000
75%       43.000000      3.000000  12675.000000
max       92.000000      4.000000  23952.000000

## Q9. Plot a bar chart for Gender and it's count

## Q10. Plot a bar chart for gender vs total amount

## Q11. Plot the countplot for Age Group with hue and Gender

## Q12. Draw the plot for total number of orders from top 10 states

## Q13.Draw the plot to plot total amount/sales from top 10 states

## Q14. Draw the plot to show the marital status

## Q15. Draw the plot to show the top 10 occupations

## Q16. Draw the countplot to print the top 10 categories

## Q17. What is the prodct ID of the top 10 most sold products.

## Q18. What conclusion you can draw from the above visualizations.